﻿@model FizzBuzz.ViewModel.FizzBuzzViewModel


<table id="displayFizzBuzzNumber">
    <thead>
        <tr>
            <th>FizzBuzz Numbers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fizzBuzzNumber in @Model.FizzBuzzNumbers)
        {
            if(fizzBuzzNumber.DisplayText=="Fizz"||fizzBuzzNumber.DisplayText=="Wizz")
            {
                fizzBuzzNumber.Color = "blue";
            }else if (fizzBuzzNumber.DisplayText=="Buzz"||fizzBuzzNumber.DisplayText=="Wuzz")
            {
                fizzBuzzNumber.Color = "green";
            }
            else
            {
                fizzBuzzNumber.Color = "auto";
            }
            
            <tr>
                
                <td><span style="color:  @fizzBuzzNumber.Color">@fizzBuzzNumber.DisplayText</span> </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#displayFizzBuzzNumber').DataTable({
            createdRow: function (row) {
                $('td', row);
            },
            ordering: false,
            searching: false,
            pagingType: "simple",
            type: "POST",
            bLengthChange: false,
            iDisplayLength: 20
        });
    });


</script>



