﻿@model FizzBuzz.ViewModel.FizzBuzzViewModel
@{
    ViewBag.Title = "FizzBuzz";
    Layout = "~/Views/Shared/_FizzBuzzLayout.cshtml";
 }


   

        @using (Html.BeginForm("FizzBuzzResults", "FizzBuzz", FormMethod.Post))
        {
            <i>Enter Number:</i>@Html.TextBoxFor(m => m.MaxNumber)
            <input id="Submit" type="submit" value="Submit" /><br />
            @Html.ValidationMessageFor(x => x.MaxNumber)
            <br />

            if (Model != null)
            {
                @Html.Partial("DisplayFizzBuzz", Model)
            }
        }


